@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:slnt,wght@-10..0,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dy {
    font-family: Inter, sans-serif;
    font-weight: 500;
    background: #ac94441a; 
    color: #313130;
    margin: 0; 
    padding: 0; 
}

.bgImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('assets/Mask-group.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    z-index: -1; 
}

.bgImage::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

nav {
    position: fixed;
    width: 1349px;
    height: 61px;
    margin: auto;
    padding: 1.5rem 13rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ac944426;
}

.logo {
    display: flex;
    flex-direction: row;
    color: #000;
    font-family: IBM Plex Mono;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    gap: 1.5rem;
    padding-left: 200px;
}

.logo > img {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
   
}

.menu {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    gap: 1.5rem ;
    color: #000000;
    font-weight: 500;
    padding-left: 700px;
}
a{
    text-decoration: none;
}

mark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: capitalize;
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    gap: 1.5rem;
    width: 5rem;
    height: 2;
    flex-shrink: 0;
    background-color: #007DC5;
    border-radius: 0.5rem;
    align-items: center;
    color: #FFF;
}

h1 {
    color: #313130;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 900;
}